# (C) Copyright 2024, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

config ASTARTE_DEVICE_SDK
	bool "Astarte device SDK"
	select JSON_LIBRARY
	select HTTP_CLIENT
	select NET_SOCKETS
	select DNS_RESOLVER
	select NETWORKING
	select MBEDTLS
	select MQTT_LIB
	select MQTT_LIB_TLS
	select MQTT_CLEAN_SESSION
	select BASE64
	help
	  This option enables the Astarte device SDK library

config ASTARTE_DEVICE_SDK_PAIRING_JWT
	string "JWT to be used when registering a new device"
	depends on ASTARTE_DEVICE_SDK
	help
	  This option should be set to a valid value when using the pairing API to register a new
	  device.

config ASTARTE_DEVICE_SDK_HOSTNAME
	string "Hostname for the Astarte APIs"
	depends on ASTARTE_DEVICE_SDK
	help
	  This hostname will be solved using a DNS to the IP address of the Astarte instance.

config ASTARTE_DEVICE_SDK_HTTPS_CA_CERT_TAG
	int "HTTPs CA root certificate TLS security tag"
	depends on ASTARTE_DEVICE_SDK
	depends on !ASTARTE_DEVICE_SDK_DEVELOP_USE_NON_TLS_HTTP
	help
	  This tag will be used for all HTTPs connections within the Astarte device.
	  A CA certificate should be added by the user with the tls_credential_add function.
	  Set this option to the tag used when adding the CA certificate.

config ASTARTE_DEVICE_SDK_MQTTS_CA_CERT_TAG
	int "MQTTs CA root certificate TLS security tag"
	depends on ASTARTE_DEVICE_SDK
	depends on !ASTARTE_DEVICE_SDK_DEVELOP_USE_NON_TLS_MQTT
	help
	  This tag will be used for all MQTTs connections within the Astarte device.
	  A CA certificate should be added by the user with the tls_credential_add function.
	  Set this option to the tag used when adding the CA certificate.

config ASTARTE_DEVICE_SDK_CLIENT_CERT_TAG
	int "TLS security tag for client certificate"
	depends on ASTARTE_DEVICE_SDK
	help
	  The Astarte device SDK will use this TLS security tag to add the client certificate to
	  Zephyr's cretentials.

config ASTARTE_DEVICE_SDK_GENERATE_DEVICE_ID
	bool "Dynamic generation of the device ID"
	depends on ASTARTE_DEVICE_SDK
	default false
	help
	  This option enables the dynamic generation of device IDs using hardware information or
	  starting from a provided namespace.

config ASTARTE_DEVICE_SDK_DEVICE_ID
	string "Device ID"
	depends on ASTARTE_DEVICE_SDK
	depends on !ASTARTE_DEVICE_SDK_GENERATE_DEVICE_ID
	help
	  Device ID to be used for registration on Astarte.

config ASTARTE_DEVICE_SDK_REALM_NAME
	string "Realm name"
	depends on ASTARTE_DEVICE_SDK
	help
	  Astarte realm name where to connect the device.

menu "Development options"

config ASTARTE_DEVICE_SDK_DEVELOP_USE_NON_TLS_HTTP
	bool "Disable TLS for all HTTP requests"
	depends on ASTARTE_DEVICE_SDK
	default false
	help
	  Enable this option to connect to a local Astarte instance.
	  With this option enabled all HTTP(s) operations will be performed over an unsecure channel,
	  without TLS.

	  Should be used only for development purposes as it's highly unsafe.

config ASTARTE_DEVICE_SDK_DEVELOP_USE_NON_TLS_MQTT
	bool "Disable TLS for all MQTT connections"
	depends on ASTARTE_DEVICE_SDK
	default false
	help
	  Enable this option to connect to a local Astarte instance.
	  With this option enabled all MQTT(s) operations will still be perfomed using mutual TLS
	  authentication. However, any error related the server certificate will be ignored.

	  Should be used only for development purposes as it's highly unsafe.

endmenu

menu "Advanced options"

config ASTARTE_DEVICE_SDK_ADVANCED_HTTP_RCV_BUFFER_SIZE
	int "Receive buffer size for HTTP requests"
	depends on ASTARTE_DEVICE_SDK
	default 4096
	help
	  Use this option to increase/decrease the receive buffer size for http requests.

config ASTARTE_DEVICE_SDK_ADVANCED_CLIENT_CRT_BUFFER_SIZE
	int "Buffer size for client TLS certificate"
	depends on ASTARTE_DEVICE_SDK
	default 2048
	help
	  Use this option to increase/decrease the buffer size where the TLS client certificate is
	  stored.

endmenu

menu "Logging options"

module = ASTARTE_DEVICE_SDK_PAIRING
module-str = Log level for Astarte device SDK pairing utilities
module-help = Sets log level for Astarte device SDK pairing utilities.
source "subsys/logging/Kconfig.template.log_config"

module = ASTARTE_DEVICE_SDK_CRYPTO
module-str = Log level for Astarte device SDK certificate generation suite
module-help = Sets log level for Astarte device SDK certificate generation suite.
source "subsys/logging/Kconfig.template.log_config"

module = ASTARTE_DEVICE_SDK_HTTP
module-str = Log level for Astarte device SDK connectivity utilities
module-help = Sets log level for Astarte device SDK connectivity utilities.
source "subsys/logging/Kconfig.template.log_config"

module = ASTARTE_DEVICE_SDK_DEVICE
module-str = Log level for Astarte device SDK device
module-help = Sets log level for Astarte device SDK device.
source "subsys/logging/Kconfig.template.log_config"

module = ASTARTE_DEVICE_SDK_UUID
module-str = Log level for Astarte device SDK UUID generation utilities
module-help = Sets log level for Astarte device SDK UUID generation utilities.
source "subsys/logging/Kconfig.template.log_config"

module = ASTARTE_DEVICE_SDK_BSON
module-str = Log level for Astarte device SDK BSON generation utilities
module-help = Sets log level for Astarte device SDK BSON generation utilities.
source "subsys/logging/Kconfig.template.log_config"

module = ASTARTE_DEVICE_SDK_INTROSPECTION
module-str = Log level for Astarte device SDK introspection
module-help = Sets log level for Astarte device SDK introspection.
source "subsys/logging/Kconfig.template.log_config"

module = ASTARTE_DEVICE_SDK_VALUE
module-str = Log level for Astarte device SDK value
module-help = Sets log level for Astarte device SDK value.
source "subsys/logging/Kconfig.template.log_config"

module = ASTARTE_DEVICE_SDK_MAPPING
module-str = Log level for Astarte device SDK mapping
module-help = Sets log level for Astarte device SDK mapping.
source "subsys/logging/Kconfig.template.log_config"

module = ASTARTE_DEVICE_SDK_MQTT
module-str = Log level for Astarte device SDK MQTT wrapper
module-help = Sets log level for Astarte device SDK MQTT wrapper.
source "subsys/logging/Kconfig.template.log_config"

endmenu
