# (C) Copyright 2026, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: Build

on:
  push:
  pull_request:

env:
  PROJECT_MANIFEST_FOLDER: astarte-device-sdk-zephyr
  SAMPLE_NAME: astarte_app

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sample-variant:
          - name: "sample.default"
            zephyr-version: "4.2"
          - name: "sample.wifi"
            zephyr-version: "4.2"
          - name: "sample.lts"
            zephyr-version: "lts"
    concurrency:
      group: build-${{ matrix.sample-variant.name }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.PROJECT_MANIFEST_FOLDER }}

      - name: Set CI manifest as defaults
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: mv west-ci-${{ matrix.sample-variant.zephyr-version }}.yml west.yml

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: ${{ env.PROJECT_MANIFEST_FOLDER }}
          toolchains: arm-zephyr-eabi

      - name: Fetch binary blobs
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        if: matrix.sample-variant.name == 'sample.wifi'
        run: |
          west --version
          west blobs -a fetch hal_nxp

      - name: Build sample
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: |
          west twister -T samples/${{ env.SAMPLE_NAME }} --test ${{ matrix.sample-variant.name }} -v --inline-logs --integration
