# (C) Copyright 2026, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: Documentation generation

on:
  workflow_call:
    inputs:
      DOXYGEN_VERSION:
        required: false
        type: string
        default: '1.12.0'
      PROJECT_MANIFEST_FOLDER:
        required: true
        type: string
      DOCS_REMOTE_ORG:
        required: true
        type: string
      MACRO_PROJECT_BASE:
        required: true
        type: string
      REMOTE_PROJECT_FOLDER:
        required: true
        type: string
      USER_EMAIL_API:
        required: true
        type: string
      GET_STARTED_ROOT_REPO:
        required: true
        type: string
      USER_EMAIL_GET_STARTED:
        required: true
        type: string

env:
  DOXYGEN_VERSION: ${{ inputs.DOXYGEN_VERSION }}
  PROJECT_MANIFEST_FOLDER: ${{ inputs.PROJECT_MANIFEST_FOLDER }}
  DOCS_REMOTE_ORG: ${{ inputs.DOCS_REMOTE_ORG }}
  MACRO_PROJECT_BASE: ${{ inputs.MACRO_PROJECT_BASE }}
  REMOTE_PROJECT_FOLDER: ${{ inputs.REMOTE_PROJECT_FOLDER }}
  USER_EMAIL_API: ${{ inputs.USER_EMAIL_API }}
  GET_STARTED_ROOT_REPO: ${{ inputs.GET_STARTED_ROOT_REPO }}
  USER_EMAIL_GET_STARTED: ${{ inputs.USER_EMAIL_GET_STARTED }}

jobs:
  api-docs:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    concurrency:
      group: api-docs-${{ github.ref }}
      cancel-in-progress: true
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        path: ${{ env.PROJECT_MANIFEST_FOLDER }}
    - uses: actions/checkout@v6
      with:
        repository: ${{ env.DOCS_REMOTE_ORG }}/docs
        ssh-key: ${{ secrets.DOCS_DEPLOY_KEY }}
        path: docs
    - name: Install ubuntu packages
      run: |
        sudo apt-get update
        sudo apt-get install -y ninja-build graphviz
    - name: Install doxygen
      working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
      shell: bash
      run: |
        wget --no-verbose "https://github.com/doxygen/doxygen/releases/download/Release_${DOXYGEN_VERSION//./_}/doxygen-${DOXYGEN_VERSION}.linux.bin.tar.gz"
        tar xf doxygen-${DOXYGEN_VERSION}.linux.bin.tar.gz
        echo "${PWD}/doxygen-${DOXYGEN_VERSION}/bin" >> $GITHUB_PATH
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.12
    - name: Install python packages
      run: |
        pip install cmake
        pip install coverxygen
    - name: Set CI manifest as defaults
      working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
      run: mv west-ci-4.2.yml west.yml
    - name: Setup Zephyr project
      uses: zephyrproject-rtos/action-zephyr-setup@v1
      with:
        app-path: ${{ env.PROJECT_MANIFEST_FOLDER }}
        toolchains: x86_64-zephyr-elf
    - name: Build documentation
      working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
      shell: bash
      run: |
        if [[ "$GITHUB_REF" =~ "refs/tags/v" ]]; then
          DOC_TAG="release"
        else
          DOC_TAG="development"
        fi
        DOC_TAG=${DOC_TAG} ${{ env.MACRO_PROJECT_BASE }}="$PWD" make -C doc doxygen
    - name: Upload HTML documentation
      uses: actions/upload-artifact@v6
      with:
        name: docs_html
        path: ${{ env.PROJECT_MANIFEST_FOLDER }}/doc/_build/doxygen/html
    - name: Copy HTML documentation
      run: |
        export DOCS_DIRNAME="${{ env.REMOTE_PROJECT_FOLDER }}/zephyr/$(echo ${{ github.ref }} | sed 's,refs/heads/,,' | sed 's/master/snapshot/g' | sed 's/release-//g')"
        rm -rf docs/$DOCS_DIRNAME
        mkdir -p docs/$DOCS_DIRNAME/api
        cp -r ${{ env.PROJECT_MANIFEST_FOLDER }}/doc/_build/doxygen/html/* docs/$DOCS_DIRNAME/api
    - name: Update symlink
      working-directory: ./docs/${{ env.REMOTE_PROJECT_FOLDER }}/zephyr
      run: |
        rm -f "latest"
        latest_version=$(ls -d * | grep -v snapshot | sort -V | tail -n 1)
        if [ -z $latest_version ]; then latest_version="snapshot"; fi
        ln -sf "$latest_version" latest
    - name: Commit files
      working-directory: ./docs
      run: |
        git config --local user.email "${{ env.USER_EMAIL_API }}"
        git config --local user.name "Documentation Bot"
        git add .
        git diff-index --quiet HEAD || git commit -m "Update Zephyr documentation"
    - name: Push changes
      working-directory: ./docs
      run: |
        git push
  get-started-docs:
    runs-on: ubuntu-latest
    needs: [api-docs]
    steps:
      - uses: actions/checkout@v6
        with:
          path: ${{ env.PROJECT_MANIFEST_FOLDER }}
          fetch-depth: 0
      - uses: actions/checkout@v6
        with:
          repository: ${{ env.DOCS_REMOTE_ORG }}/${{ env.GET_STARTED_ROOT_REPO }}
          ssh-key: ${{ secrets.SDK_DOC_DEPLOY_KEY }}
          path: ${{ env.GET_STARTED_ROOT_REPO }}
      - name: Check release branch
        id: check-release-branch
        working-directory: ./${{ env.PROJECT_MANIFEST_FOLDER }}
        shell: bash
        run: |
          latest_release=$(git branch -r | grep "release-*" | sort -t '-' -k 2,2n | tail -n 1 | cut -d '/' -f 2)
          current_branch=$(git branch --show-current)
          if [[ "$current_branch" == "$latest_release" ]]; then
            echo "Current branch is the latest release branch"
            echo "RESULT=OK" >> $GITHUB_OUTPUT
          else
            echo "Current branch is not the latest release branch"
            echo "RESULT=FAILED" >> $GITHUB_OUTPUT
          fi
      - name: Compare and copy get started
        id: cmp-and-copy-get-started
        if: steps.check-release-branch.outputs.RESULT == 'OK'
        run: |
          our_get_started="./${{ env.PROJECT_MANIFEST_FOLDER }}/get_started.md"
          their_get_started="./${{ env.GET_STARTED_ROOT_REPO }}/source/get_started/zephyr.md"
          if cmp -s "$our_get_started" "$their_get_started"; then
            echo "Get started are identical, no need for substitution"
            echo "RESULT=NO_SUBSTITUTION" >> $GITHUB_OUTPUT
          else
            echo "Our get started is different, substituting theirs"
            cp "$our_get_started" "$their_get_started"
            echo "RESULT=SUBSTITUTION" >> $GITHUB_OUTPUT
          fi
      - name: Commit changes
        id: commit-changes
        if: steps.cmp-and-copy-get-started.outputs.RESULT == 'SUBSTITUTION'
        working-directory: ./${{ env.GET_STARTED_ROOT_REPO }}
        run: |
          git config --local user.email "${{ env.USER_EMAIL_GET_STARTED }}"
          git config --local user.name "Documentation Bot"
          git add .
          git diff-index --quiet HEAD || git commit -m "Update Zephyr get started"
      - name: Push changes
        if: steps.commit-changes.conclusion == 'success'
        working-directory: ./${{ env.GET_STARTED_ROOT_REPO }}
        run: |
          git push
