#
# This file is part of Astarte.
#
# Copyright 2024 SECO Mind Srl
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0
#

name: Static

on:
  push:
  pull_request:

jobs:
  clang-format:
    runs-on: ubuntu-latest
    concurrency:
      group: clang-format-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: astarte-device-sdk-zephyr
      - name: Set CI manifest as defaults
        working-directory: astarte-device-sdk-zephyr
        run: mv west-ci-4.2.yml west.yml
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: astarte-device-sdk-zephyr
          toolchains: x86_64-zephyr-elf
      - name: Install Python dependencies
        working-directory: astarte-device-sdk-zephyr
        run: pip install -r $PWD/scripts/requirements.txt
      - name: Check format
        working-directory: astarte-device-sdk-zephyr
        run: west format --dry-run
  interfaces-generation:
    runs-on: ubuntu-latest
    concurrency:
      group: interfaces-generation-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: astarte-device-sdk-zephyr
      - name: Set CI manifest as defaults
        working-directory: astarte-device-sdk-zephyr
        run: mv west-ci-4.2.yml west.yml
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: astarte-device-sdk-zephyr
          toolchains: x86_64-zephyr-elf
      - name: Install Python dependencies
        working-directory: astarte-device-sdk-zephyr
        run: pip install -r $PWD/scripts/requirements.txt
      - name: Check if generated interfaces are up to date
        run: west generate-interfaces -c ./astarte-device-sdk-zephyr/samples/astarte_app/interfaces
  code-checker:
    runs-on: ubuntu-latest
    concurrency:
      group: code-checker-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: astarte-device-sdk-zephyr
      - name: Set CI manifest as defaults
        working-directory: astarte-device-sdk-zephyr
        run: mv west-ci-4.2.yml west.yml
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: astarte-device-sdk-zephyr
          toolchains: x86_64-zephyr-elf
      - name: Install Python dependencies
        working-directory: astarte-device-sdk-zephyr
        run: pip install -r $PWD/scripts/requirements.txt
      - name: Change code checker version
        working-directory: astarte-device-sdk-zephyr
        run: |
          pip uninstall codechecker -y
          pip install codechecker==6.24.4
      - name: Run clang-tidy
        working-directory: astarte-device-sdk-zephyr
        run: west static --sample astarte_app
  python-checks:
    runs-on: ubuntu-latest
    concurrency:
      group: python-checks-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: astarte-device-sdk-zephyr
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install Python dependencies
        working-directory: astarte-device-sdk-zephyr
        run: pip install black
      - name: Check format for the west extension scripts
        working-directory: astarte-device-sdk-zephyr
        run: python -m black --line-length 100 --diff --check ./scripts/*.py
      - name: Check format for the end to end scripts
        working-directory: astarte-device-sdk-zephyr
        run: python -m black --line-length 100 --diff --check ./e2e/pytest/*.py
