# (C) Copyright 2026, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: Static

on:
  push:
  pull_request:

env:
  PROJECT_MANIFEST_FOLDER: astarte-device-sdk-zephyr
  SAMPLE_NAME: astarte_app

jobs:
  clang-format:
    runs-on: ubuntu-latest
    concurrency:
      group: clang-format-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.PROJECT_MANIFEST_FOLDER }}
      - name: Set CI manifest as defaults
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: mv west-ci-4.2.yml west.yml
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: ${{ env.PROJECT_MANIFEST_FOLDER }}
          toolchains: x86_64-zephyr-elf
      - name: Install Python dependencies
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: pip install -r $PWD/scripts/requirements.txt
      - name: Check format
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: west format --dry-run
  interfaces-generation:
    runs-on: ubuntu-latest
    concurrency:
      group: interfaces-generation-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.PROJECT_MANIFEST_FOLDER }}
      - name: Set CI manifest as defaults
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: mv west-ci-4.2.yml west.yml
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: ${{ env.PROJECT_MANIFEST_FOLDER }}
          toolchains: x86_64-zephyr-elf
      - name: Install Python dependencies
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: pip install -r $PWD/scripts/requirements.txt
      - name: Check if generated interfaces are up to date
        run: west generate-interfaces -c ./${{ env.PROJECT_MANIFEST_FOLDER }}/samples/${{ env.SAMPLE_NAME }}/interfaces
  code-checker:
    runs-on: ubuntu-latest
    concurrency:
      group: code-checker-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.PROJECT_MANIFEST_FOLDER }}
      - name: Set CI manifest as defaults
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: mv west-ci-4.2.yml west.yml
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: ${{ env.PROJECT_MANIFEST_FOLDER }}
          toolchains: x86_64-zephyr-elf
      - name: Install Python dependencies
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: pip install -r $PWD/scripts/requirements.txt
      - name: Change code checker version
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: |
          pip uninstall codechecker -y
          pip install codechecker==6.24.4
      - name: Run clang-tidy
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: west static --sample ${{ env.SAMPLE_NAME }}
  python-checks:
    runs-on: ubuntu-latest
    concurrency:
      group: python-checks-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.PROJECT_MANIFEST_FOLDER }}
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install Python dependencies
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: pip install black
      - name: Check format for the west extension scripts
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: python -m black --line-length 100 --diff --check ./scripts/*.py
      - name: Check format for the end to end scripts
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: |
          if [ -d "./e2e" ]; then
            python -m black --line-length 100 --diff --check ./e2e/pytest/*.py
          else
            echo "Directory ./e2e does not exist. Skipping."
          fi
